body {
  box-sizing:border-box;
  background-color: rgb(250, 250,250);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10%;
}
.position {
  margin-top: 15px;
}


.image {
  width: 250px;
  margin-bottom: 15px
}

@media only screen and (max-width: 960px) {
  .container {
    
    margin: 0 10%;
    
  }

  .image {
    width: 59%;
  }
}
